{% extends "base.html" %}

{% block conteudo %}
<div class="col-12">
	<table class="pure-table pure-table-bordered">
		<thead>
			<tr>
				<th>#</th>
				<th>Regiões Geopolíticas</th>
			</tr>
		</thead>
		<tbody>
			{% for regiao in regioes %}
			<tr class="{% cycle 'pure-table-odd' '' as oddrow %}">
				<td>{{forloop.counter}}</td>
				<td><a href="{{ regiao.get_absolute_url }}">{{ regiao.regiaoGeoPolitica }}</a></td>
			</tr>
			{% empty %}
				<tr>
					<td colspan="2"> Nenhum Registro Encontrado </td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}