//--- GRID CONFIG //

$col-number: 12;
$gutter: 10px;

$pad: 20px;

$font-size: 12pt;

//--- Transitions ---//

$menu-transition: ceaser($easeOutCubic);

//--- Default Border Radius ---//

$border-radius: 3px;