.header{
	height: 50px;
	h4{
		font-weight: 500;
		line-height: 44px;
		margin: 0;
	}
	.logo{
		background:$logo_bg;
		color: $logo;
		border-top: 5px solid shade($logo_bg, 25);
		border-bottom: 1px solid #999;
		height: 50px;
		padding-left: 15px;
		a{
			color: #fff;
			cursor: pointer !important;
			width: 100%;
			height: 100%;
			display: block;
			&:hover{
				color: $body_ln_h;
				text-decoration: none;
			}
		}
	}

	.titlebar{
		background: $title_bg;
		color: shade($title, 15);
		border-bottom: 1px solid #ddd;
		border-top: 5px solid shade($title_bg, 25);
		height: 50px;
		
		.header-title{
			width: auto;
			height: 50px;
		}
		
		.filters{
			.btn-group{
				margin:5px 0;
			}
		}

		.user-log{
			color: $body_ln;
			line-height: 44px;
		}
	}
}