@import 'compass';

// GeoLiberty Palette
$gcolor1 : #555555; // grey
$gcolor2 : #3399cc; // blue
$gcolor3 : #99cc33; // green
$gcolor4 : #9fab88; // cargo
$gcolor5 : #f9ffe8; // light

// Application Palette
$color1 : #96cfea; // sky blue
$color2 : #1693a5; // dutch teal
$color3 : #003e5f; // night teal
$color4 : #004384; // star field
$color5 : #f7f972; // stars at night

// Grey Tones;
$grey_lighter : #fafafa;
$grey_light : #f0f0f3;
$grey : #9c9b9b;
$grey_dark: #3d3c42;
$grey_darker: #37363b;
$grey_darkest: #2e2d31;

// Body
$body_bg 	: $grey_light;
$body_text 	: $grey;
$body_text_bg : $grey_lighter;
$body_font 	: 'Open Sans', sans-serif;
$body_ln 	: $gcolor2;
$body_ln_h 	: $gcolor1;
$body_ln_h_bg : $gcolor3;
$body_titles : $gcolor3;
$body_h1 : shade($gcolor3, 10);
$body_h1_s : $gcolor4;
// Header
$logo 		: #fff;
$logo_bg	: tint($gcolor4, 15);
$title 		: $gcolor4;
$title_bg	: $gcolor5;

// Navigation
$nav_bg 		: $grey;
$nav_ln 		: #fff;
$nav_ln_a 		: $nav_ln;
$nav_ln_a_bg	: $gcolor3;
$nav_ln_h 		: $gcolor1;
$nav_ln_h_bg 	: $gcolor4;
$nav_hd 		: $grey;
$nav_hd_bg 		: shade($nav_bg, 25);

// Footer
$footer_bg 		: $grey_light;