@import 'variables';
@import 'mixins';
@import 'compass';

@font-face {
  font-family: 'bundesicon';
  src: url('../fonts/bundesicon.eot?51034663');
  src: url('../fonts/bundesicon.eot?51034663#iefix') format('embedded-opentype'),
       url('../fonts/bundesicon.woff?51034663') format('woff'),
       url('../fonts/bundesicon.ttf?51034663') format('truetype'),
       url('../fonts/bundesicon.svg?51034663#bundesicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

html{
}

body{
	color: $body_text;
	background: $body_bg;
	font-family: $body_font;
	height: 100%;
	overflow: auto;
}

h1, h2, h3, h4, h5, h6{
	color: $body_h1;
	small{
		color: $body_h1_s;
	}
}

img{
	max-width: 100%;
}

@import 'header';
@import 'nav';
@import 'body';
@import 'footer';

