{% extends 'base.html' %}

{% block title %}
	GeoLiberty > Home
{% endblock title %}

{% block brand %}
	GeoLiberty
{% endblock brand %}

{% block header-title %}
	Home
{% endblock header-title %}

{% block filters %}
<div class="btn-group">
	<button class="btn btn-primary">Filtros</button>
	<button class="btn btn-success ">Filtros</button>
	<button class="btn btn-danger">Filtros</button>
</div>
<div class="btn-group">
	<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
		Filtro <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu">
		<li><a href="#">Filtro</a></li>
	</ul>
</div>
{% endblock filters %}

{% block featured %}
<div class="row featured">
	<div class="jumbotron">
		<div class="col-md-12 map">
			<div id="map-canvas" style="width: 100%; height: 300px"></div>
		</div>
		<div class="col-md-12">
			<h1>{% block page-header %}GeoLiberty{% endblock%} <small>{%block page-header-small%}Liberdade Cartográfica{%endblock%}</h1>
			<p>Através da realização de estudos e projetos na área de armazenamento e manipulação de dados geográficos, notou-se a complexidade de se trabalhar com dados espaciais. A construção de funções que realizem o tratamento destes tipos de dados se mostra árdua. Para o desenvolvimento de sistemas de informações geográficas são necessárias diversas funções de tratamento de dados geográficos, o que torna o tempo e dificuldade de desenvolvimento de uma aplicação deste tipo muito maior.</p>
			<p>Com estas conclusões iniciou-se o planejamento de uma ferramenta para auxílio na construção de SIGs, levando em consideração a dificuldade de implementação e a padronização que os dados geográficos apresentam, definiu-se que o sistema deveria implementar funções que realizassem a manipulação e armazenamento de dados geográficos, o usuário poderia então desenvolver a partir destas funções qualquer tipo de sistema e utilizando as funções já implementadas no trato de dados geográficos.</p>
			<p>Para propiciar esta extensão de funcionalidades de um sistema base, foi definido que o paradigma de programação utilizado deveria ser o POO (Programação Orientada a Objetos), já que a mesma permite a construção de objetos que representariam os formatos de dados espaciais e ofereceriam as funções de tratamento relacionadas a cada tipo de dados específico. Utilizando este paradigma também se pode realizar a extensão de classes para a criação de novos objetos que utilizem os atributos e funções da classe mãe. Com isso, as classes que representarão objetos específicos criados pelo usuário do sistema, podem utilizar os atributos e funções do objeto geográfico que representa a informação de forma espacial.</p>
		</div>
	</div>
</div>
{% endblock featured %}

{% block content %}
<div class="row">
	<div class="col-md-4">
		<h2>Feature</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div>

	<div class="col-md-4">
		<h2>Indice de Mortes</h2>
		<canvas id="chart" class="charts"></canvas>
	</div>

	<div class="col-md-4">
		<h2>Feature</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div>
</div>
{% endblock content %}

