<h3>{{chartName}}</h3>
<div id="chart-semana" style="height: 300px; width: 100%;"></div>
<script>
	// CHART ACIDENTES/DIA DA SEMANA
function chartDoughnut(){
	var chartSemana = new CanvasJS.Chart("chart-semana",
	{
		backgroundColor: 'none',
		data: [{
			type: "doughnut",
			toolTipContent: "{y}%",
			dataPoints: [
			 {% for dia in diaDaSemana %}
				 {% if forloop.last %}
				 	{ y: {{ dia.porcentagem }}, indexLabel: "{{ dia.nome }}" }
				 {% else %}
				 	{ y: {{ dia.porcentagem }}, indexLabel: "{{ dia.nome }}" },
				 {% endif %}
			 {% endfor %}
			]
		}
		]
	});
	chartSemana.render();
}

</script>