{% extends 'mapprf.html' %}

{% block title %}
	mapPRF > Documentação
{% endblock title %}

{% block brand %}
	mapPRF
{% endblock brand %}

{% block header-title %}
	Documentação
{% endblock header-title %}

{% block featured %}

{% endblock featured %}	

{% block content %}
	<div class="row">
		<div class="col-md-4">
			<h2>Documentação</h2>
			<p>
				Para acessar, <a href="https://docs.google.com/document/d/1iJo6bl_j3o6ReNH57MKj51gm592a-jFNEMp3_Fri-n8/">Clique Aqui</a>.
			</p>
		</div>
	</div>

{% endblock content%}