{% extends 'mapprf.html' %}
{% load replace_tag %}
{% block title %}
	mapPRF > BR386
{% endblock title %}

{% block header-title %}
	Mapa BR386
{% endblock header-title %}

{% block featured %}
<div class="row featured">
<div class="col-md-12 map">
	<div id="map-canvas" style="width: 100%; height: 300px"></div>
</div>
<div class="col-md-12"><h5>*Clique em um trecho no mapa para filtrar os resultados</h5></div>
</div>
{% endblock featured %}

{% block content %}
	<div class="row featured">
		<div class="col-md-4">
			{% include 'chart_line.html' with chartName='Acidentes por Horário' %}	
		</div>
		<div class="col-md-4">
			{% include 'chart_doughnut.html' with chartName='Acidentes por dia da Semana' %}				
		</div>
		<div class="col-md-4">
			{% include 'chart_column.html' with chartName='Acidentes por Mês' %}	
		</div>
	</div>
{% endblock content %}
{% block prescript %}

{% endblock prescript %}

{% block scripts %}

<script>
	chartLine(null);
	chartDoughnut(null);
	chartColumn(null);
</script>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCoPgKjGBqZDtxdR7Rqs0U5f8eoACacb2E&sensor=true"></script>
<script>
	var mapOptions = {
    zoom: 7,
    center: new google.maps.LatLng(-28.526622,-52.839661),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }
  var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);


 // Initialize the layer
   var layer = new google.maps.FusionTablesLayer();
   layer.setMap(map);
   
   // Create the legend and display on the map
   var legendDiv = document.createElement('DIV');
   var legend = new Legend(legendDiv, map);
   legendDiv.index = 1;
   map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(legendDiv);
 

 function Legend(controlDiv, map) {
   // Set CSS styles for the DIV containing the control
   // Setting padding to 5 px will offset the control
   // from the edge of the map
   controlDiv.style.padding = '10px';

   // Set CSS for the control border
   var controlUI = document.createElement('DIV');
   controlUI.style.backgroundColor = 'white';
   controlUI.style.width = '150px';
   controlUI.style.height = 'auto';
   controlUI.title = 'Legenda de Cores';
   controlDiv.appendChild(controlUI);

   // Set CSS for the control text
   var controlText = document.createElement('DIV');
   controlText.style.fontFamily = 'Arial,sans-serif';
   controlText.style.fontSize = '12px';
   controlText.style.paddingLeft = '4px';
   controlText.style.paddingRight = '4px';
   
   // Add the text
   controlText.innerHTML = '<h5>Legenda</h5>' +
   '<ul class="legendas">' +
	   '<li><div class="legend-blue"></div> 0-19</li>' +
	   '<li><div class="legend-green"></div> 20-39</li>' +
	   '<li><div class="legend-yellow"></div> 40-59</li>' +
	   '<li><div class="legend-orange"></div> 60-79</li>' +
	   '<li><div class="legend-red"></div> 80-100</li>' +
	   '<li><div class="legend-purple"></div> Trecho Selecionado</li>' +
	'</ul>' +
   '<small>*Índice = Ocorrencias/Km</small>';
   controlUI.appendChild(controlText);
 }
</script>
<script>
var pontos = [
{% for a in pontos %}
			new google.maps.LatLng({{ a.geo.1|replace }} {{ "," }} {{ a.geo.0|replace }})
		{% if forloop.last %}

		{% else %}
			,
		{% endif %}
{% endfor %}
];
var ponto = new Array();
for (var i = 0; i < pontos.length; i++) {

	ponto[i] = new google.maps.Marker({
		position: pontos[i],
		icon: '/assets/img/marker_deaths.png',
		map: map,
		title: 'Ocorrencia resultada em Óbito'
	});
}
var coordenada = [
{% for a in rodovia %}
                ["{{ a.id }}" ,
                {% for b in a.geometry %}
                        {% if forloop.first %}
                                new google.maps.LatLng({{ b.1|replace }} {{ "," }} {{ b.0|replace }}),
                        {% endif %}
                {% endfor %}
                "{{ a.cor }}",
                "{{ a.ocorrencias }}",
                "{{ a.mortes }}"
                {% if forloop.last %}
                        ]	
                {% else %}
                        ],
                {% endif %}
{% endfor %}
];

var linhas = new Array(
{% for a in rodovia %}
	[
		{% for b in a.geometry %}
			{% if forloop.last %}
				new google.maps.LatLng({{ b.1|replace }} {{ "," }} {{ b.0|replace }})
			{% else %}
				new google.maps.LatLng({{ b.1|replace}} {{ "," }} {{ b.0|replace }}),
			{% endif %}
		{% endfor %}
		{% if forloop.last %}
			]
		{% else %}
			],
		{% endif %}
{% endfor %}
);

var linha = new Array();
for (var i = 0; i < linhas.length; i++) {
	linha[i] = new google.maps.Polyline({
	path: linhas[i],
	geodesic: true,
	strokeColor: coordenada[i][2],
	strokeOpacity: 0.8,
	strokeWeight: 10
	});
google.maps.event.addListener(linha[i], 'click', function() {
	tratamento(this);
});

google.maps.event.addListener(linha[i], 'mouseover', function() {
	this.setOptions({
		strokeColor: '#7f6084',
		strokeOpacity: 0.8,
		strokeWeight: 15
	});

});
google.maps.event.addListener(linha[i], 'mouseout', function() {
	var cor = " ";
	for (var j = 0; j < coordenada.length; j++) {
		if ((this.getPath().getArray())[0].equals(coordenada[j][1]) )
			cor = coordenada[j][2];
	}
	this.setOptions({
		strokeColor: cor,
		strokeOpacity: 0.8,
		strokeWeight: 10
	});
});

function tratamento(l){
	for (var j = 0; j < coordenada.length; j++) {
		if ((l.getPath().getArray())[0].equals(coordenada[j][1]) ){
			id = coordenada[j][0];
			$.ajax({
			type: "GET", 
			url: "/mapprf/segmento/", 
			data: "id="+id, 
			success: function(resposta){ 
				var obj = eval ("(" + resposta + ")");
				chartDoughnut(obj.dia);
				chartLine(obj.hora);
				chartColumn(obj.mes);
				}
			});
		}
	}
}
linha[i].setMap(map);
}

</script>
{% endblock scripts %}