{% extends 'mapprf.html' %}
{% load replace_tag %}
{% block title %}
	mapPRF > BR386
{% endblock title %}

{% block header-title %}
	Mapa BR386
{% endblock header-title %}

{% block featured %}
<div class="row featured">
<div class="col-md-12 map">
	<div id="map-canvas" style="width: 100%; height: 300px"></div>
</div>
</div>
{% endblock featured %}

{% block content %}
	<div class="row featured">
		<div class="col-md-4">
			{% include 'chart_line.html' with chartName='Acidentes por Horário' %}	
		</div>
		<div class="col-md-4">
			{% include 'chart_doughnut.html' with chartName='Acidentes por dia da Semana' %}				
		</div>
		<div class="col-md-4">
			{% include 'chart_column.html' with chartName='Acidentes por Mês' %}	
		</div>
	</div>
{% endblock content %}
{% block prescript %}

{% endblock prescript %}

{% block scripts %}

<script>
	chartLine();
	chartDoughnut();
	chartColumn();
</script>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCoPgKjGBqZDtxdR7Rqs0U5f8eoACacb2E&sensor=true"></script>
<script>
	var mapOptions = {
    zoom: 7,
    center: new google.maps.LatLng(-28.526622,-52.839661),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }
  var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
</script>
<script>
var coordenada = [
{% for a in rodovia %}
		["{{ a.id }}" ,
		{% for b in a.geometry %}
			{% if forloop.first %}
				new google.maps.LatLng({{ b.1|replace }} {{ "," }} {{ b.0|replace }}),
			{% endif %}
		{% endfor %}
		"{{ a.cor }}",
		"{{ a.ocorrencias }}",
		"{{ a.mortes }}"
		{% if forloop.last %}
			]
		{% else %}
			],
		{% endif %}
{% endfor %}
];

var linhas = new Array(
{% for a in rodovia %}
	[
		{% for b in a.geometry %}
			{% if forloop.last %}
				new google.maps.LatLng({{ b.1|replace }} {{ "," }} {{ b.0|replace }})
			{% else %}
				new google.maps.LatLng({{ b.1|replace}} {{ "," }} {{ b.0|replace }}),
			{% endif %}
		{% endfor %}
		{% if forloop.last %}
			]
		{% else %}
			],
		{% endif %}
{% endfor %}
);

var linha = new Array();
for (var i = 0; i < linhas.length; i++) {
	linha[i] = new google.maps.Polyline({
	path: linhas[i],
	geodesic: true,
	strokeColor: coordenada[i][2],
	strokeOpacity: 0.8,
	strokeWeight: 10
	});
google.maps.event.addListener(linha[i], 'click', function() {
	tratamento(this);
});

google.maps.event.addListener(linha[i], 'mouseover', function() {
	this.setOptions({
		strokeOpacity: 1,
		strokeWeight: 15
	});

});
google.maps.event.addListener(linha[i], 'mouseout', function() {
	this.setOptions({
		strokeOpacity: 0.8,
		strokeWeight: 10
	});
});

function tratamento(l){
	for (var j = 0; j < coordenada.length; j++) {
		if ((l.getPath().getArray())[0].equals(coordenada[j][1]) ){
			id = coordenada[j][0];
			$.ajax({
			type: "GET", 
			url: "/mapprf/segmento/", 
			data: "id="+id, 
			success: function(resposta){ 
				var obj = eval ("(" + resposta + ")");
				chartDoughnut(obj.dia);
				chartLine(obj.hora);
				chartColumn(obj.mes);
				}
			});
		}
	}
}
linha[i].setMap(map);
}
</script>
{% endblock scripts %}