{% extends 'mapprf.html' %}

{% block title %}
	mapPRF > Índice Municípios
{% endblock title %}

{% block header-title %}
	Índice Municípios
{% endblock header-title %}

{% block featured %}
<div class="page-header">
	<h1>Nome da Cidade</h1>
</div>
<div class="row featured">
	{% include 'chart_number.html' with chartName="Acidentes" icon="acidentes" value=ocorrencias %}
	{% include 'chart_number.html' with chartName="Mortes em Acidentes" icon="mortes" value=mortes %}
</div>
{% endblock featured %}

{% block content %}
	<div class="row charts">
		<div class="col-md-4">
			{% include 'chart_line.html' with chartName="Acidentes por Horário" %}
		</div>
		<div class="col-md-4">
			{% include 'chart_doughnut.html' with chartName="Acidentes por dia da Semana" %}
		</div>
		<div class="col-md-4">
			{% include 'chart_column.html' with chartName="Acidentes por Mês" %}
		</div>
	</div>
{% endblock content %}

{% block scripts %}
<script>
	chartLine();
	chartDoughnut();
	chartColumn();
	chart_acidentes();
	chart_mortes();
</script>
{% endblock scripts %}