{% extends 'base.html' %}

{% block title %}
	mapPRF
{% endblock title %}

{% block brand %}
	mapPRF
{% endblock brand %}

{% block header-title %}
	Início
{% endblock header-title %}

{% block header-menu %}
	Menu mapPRF	
{% endblock header-menu %}

{% block menu %}
	<a href="/municipio/" class="list-group-item">Índice Municípios</a>
	<a href="/estado/" class="list-group-item">Mapa Estados</a>
	<a href="/br/" class="list-group-item">Mapa BR386</a>
{% endblock menu %}

{% block credits %}
<p>
	Desenvolvimento por 
	<a href="">Augusto de Lima</a>,
	<a href="">Guto Foletto</a>,
	<a href="">Paulo Henrique Vianna</a>,
	<a href="">Vinicius Bisognin</a>.
</p>
<p>
	Orientado por <a href="">Joel da Silva</a>
</p>
{% endblock credits %}