{% extends 'mapprf.html' %}

{% block title %}
	mapPRF > Resultados para {{string}}
{% endblock title %}

{% block header-title %}
	Resultados para {{string}}
{% endblock header-title %}

{% block featured-content %}
<div class="featured-center">
	<img src="/assets/img/logo.png" alt="Geoliberty Logo">
</div>
<div class="col-12">
	<h1 class="featured-title">{% block page-header %}mapPRF{% endblock%}</h1>
	<h3 class="featured-subtitle">{%block page-header-small%}Índices de Estrada{%endblock%}</h3>
	<div class="pure-form search-group">
		<form action="/mapprf/pesquisar/" method="get">
			{% csrf_token %}
			<input class="left-element" type="text" name="search" id="search" placeholder="Pesquise por cidade, estado ou país.">
			<button class="pure-button secondary-button right-element">Search</button>
		</form>
	</div>
</div>
{% endblock featured-content %}

{% block content %}
	<div class="col-3">
		<h3>Cidades</h3>
		<table class="pure-table pure-table-bordered">
			<thead>
				<tr>
					<th>#</th>
					<th>Nome</th>
				</tr>
			</thead>
			<tbody>
				{% for c in cidades %}
				<tr>
					<td>{{ forloop.counter }}</td>
					<td><a href="../{{ c.get_absolute_url }}">{{ c.get_name | default:"Sem nome" }}</td>
				</tr>
				{% empty %}
				<tr>
					<td colspan="2"> Nenhum Registro Encontrado </td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col-3">
		<h3>Regiões</h3>
		<table class="pure-table pure-table-bordered">
			<thead>
				<tr>
					<th>#</th>
					<th>Nome</th>
				</tr>
			</thead>
			<tbody>
				{% for r in regioes %}
				<tr>
					<td>{{ forloop.counter }}</td>
					<td><a href="../{{ r.get_absolute_url }}">{{ r.get_name | default:"Sem nome" }}</td>
				</tr>
				{% empty %}
				<tr>
					<td colspan="2"> Nenhum Registro Encontrado </td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col-3">
		<h3>Estados</h3>
		<table class="pure-table pure-table-bordered">
			<thead>
				<tr>
					<th>#</th>
					<th>Nome</th>
				</tr>
			</thead>
			<tbody>
				{% for e in estados %}
				<tr>
					<td>{{ forloop.counter }}</td>
					<td><a href="..{{ e.get_absolute_url }}">{{ e.get_name | default:"Sem nome" }}</a></td>
				</tr>
				{% empty %}
				<tr>
					<td colspan="2"> Nenhum Registro Encontrado </td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col-3">
		<h3>Países</h3>
		<table class="pure-table pure-table-bordered">
			<thead>
				<tr>
					<th>#</th>
					<th>Nome</th>
				</tr>
			</thead>
			<tbody>
				{% for p in paises %}
				<tr>
					<td>{{ forloop.counter }}</td>
					<td><a href="../{{ p.get_absolute_url }}">{{ p.get_name | default:"Sem nome" }}</td>
				</tr>
				{% empty %}
				<tr>
					<td colspan="2"> Nenhum Registro Encontrado </td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock content %}
