.sidebar {
	border: 1px solid darken($color-default, 10);
	background: $color-default;
	@include transition(transform 1s $menu-transition);

	.brand{
		font-size: 1.25em;
		padding: 1em;
	}
}

.sidebar-fixed {
	position: fixed;
	left: 0;
	bottom: 0;
	top: 0;
	height: 100%;
	width: 200px;
}

.sidebar-hidden {
	@include translateX(-200px);
	@include transition(transform 1s $menu-transition);
}